@using ESRZ.Core.Models.StatReport
@model FilterStatReportVM
@{
    ViewData["Title"] = "Статистически отчети " + ViewBag.IntegrationLabel;
    ViewBag.MenuItemValue = $"statreport{Model.IntegrationId}";
}
<fieldset>
    <legend>Търсене</legend>
    @Html.HiddenFor(x=>x.IntegrationId)
    <div class="row">
        <div class="col-md-4">
            @Html.EditorFor(x=>x.CatalogId,"GenericDropDown")
        </div>
        <div class="col-md-4">
            @Html.EditorFor(x=>x.ReportTypeId,"GenericDropDown")
        </div>
        <div class="col-md-4">
            @Html.EditorFor(x=>x.Label)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-left pb-15">
            <button type="button" class="btn btn-primary" id="btnFilter" onclick="refreshTable('#mainTable')" value="Филтриране" title="Филтриране">
                Филтриране
                <i class="fa fa-search" title="Търсене"></i>
            </button>
        </div>
    </div>
</fieldset>

<div class="row">
    <div class="col-md-12 text-right pb-15">
        <a asp-action="ReportAdd" asp-route-integrationId="@Model.IntegrationId" class="btn btn-success btn-flat">
            <i class="fa fa-plus"></i>
            Добави
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="mainTable" class="table table-hover table-striped"></table>
    </div>
</div>

@section scripts {
<script>
    $(function () {
        var table = $('#mainTable').DataTable({
            ajax: {
                "url": "@Url.Action("Report_LoadData")",
                "type": "POST",
                "datatype": "json",
                data: function (d) {
                    d.filter = {
                        IntegrationId:$('#IntegrationId').val(),
                        CatalogId:$('#CatalogId').val(),
                        ReportTypeId:$('#ReportTypeId').val(),
                        Label:$('#Label').val()
                    }
                }
            },
             filter:false,
             sort:false,
            columns: [
                {
                    name: 'label',
                    data: 'label',
                    title: 'Наименование'
                },
                {
                    name: 'reportTypeName',
                    data: 'reportTypeName',
                    title: 'Вид отчет'
                },
                {
                    name: 'dateStart',
                    data: "dateStart",
                    title: 'Валиден от',
                    className: "text-center",
                    "render": function (value) {
                        return JsonBGdate(value);
                    }
                },
                {
                    name: 'actions',
                    data: "id",
                    title: "",
                    sortable: false,
                    searchable: false,
                    className: "text-center noExport",
                    "render": function (value) {
                        return TemplateToHtml('#templateEdit', value);
                    }
                }
            ]
        });

        $(document).on('click', '.orderButton', savePosition);

        function savePosition(e) {
            var element = e.currentTarget;
            var data = element.dataset;

            element.setAttribute("disabled", "");

             $.ajax({
                    method: "POST",
                    url: '@Url.Action("Report_ChangeOrder")',
                    dataType: "json",
                    data: data
                }).fail(function (jqXHR, status, message) {
                        if (jqXHR.responseText) {
                            //messageHelper.ShowErrorMessage(jqXHR.responseText);
                        }
                }).always(function () {
                    table.draw( false );
                });
         }
    });
</script>

<script id="templateEdit" type="text/x-handlebars-template">
    <a href="#" data-id="{{this}}" data-moveUp="true" class="orderButton btn btn-info btn-sm" title="Нагоре"><i class="fa fa-angle-up"></i></a>
    <a href="#" data-id="{{this}}" data-moveUp="false" class="orderButton btn btn-primary btn-sm" title="Надолу"><i class="fa fa-angle-down"></i></a>
    <a href="@Url.Action("ReportEdit")/{{this}}" class="btn btn-warning btn-sm" title="Редактирай"><i class="fa fa-edit"></i><span class="d-none d-lg-inline"> Редактирай</span></a>
</script>
}
