@using ERSZ.Infrastructure.Constants
@using ERSZ.Infrastructure.ViewModels.Register
@model JurorVM

@{
    bool canChange = (bool)(ViewBag.canChange ?? false);
    if (Model.Id != null)
    {
        ViewData["Title"] = "Редакция на лице";
        //ViewData["Title"] = access.CanChange ? "Редакция на лице" : "Преглед на лице";
        //if (!canChange)
        //{
        //    ViewData["Title"] = "Преглед на лице";
        //}
    }
    else
    {
        ViewData["Title"] = "Добавяне на лице";
    }

    string avatar = (Model.Content == null || !(Model?.Content).Any()) ? Url.Content("~/img/default_user.png") : $"data:image/png;base64,{Convert.ToBase64String(Model.Content)}";
}

@*@section breadcrumb{
    @if (ViewBag.breadcrumbs != null)
    {
    <partial name="Breadcrumbs" model="@(List<IOWebApplication.Infrastructure.Models.ViewModels.Common.BreadcrumbsVM>)ViewBag.breadcrumbs" />
    }
    }*@

<div class="row">
    <div class="col-md-6">
        <form action="@Url.Action("Edit", "Juror")" id="cdnUploadFile" method="post" enctype="multipart/form-data">

            <fieldset class="fs-group">
                <legend class="legend_1">Основни данни за лице</legend>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div id="saveContainer">

                    @Html.HiddenFor(x => x.Id)

                    <div class="row">
                        <img src="@avatar" width="150" height="150" class="img-circle elevation-2" style="object-fit: contain">
                    </div>
                    <br />
                    <div class="row">
                        <input type="file" name="files" id="files" accept="image/jpg, image/jpeg, image/png, image/tiff" />
                        @if (!string.IsNullOrEmpty(Model.Id) && Model.Content != null)
                        {
                            <a href="@Url.Action("DeletePhoto", "Juror")?id=@Model.Id" class="btn btn-danger btn-sm m-b-5 text-left" title="Изтрий снимка"><i class="fa fa-trash"></i><span class="hidden-sm hidden-xs"></span></a>
                        }
                    </div>
                    <p></p>

                    <div class="row">
                        <div class="col-md-4">@Html.EditorFor(x => x.FirstName)</div>
                        <div class="col-md-4">@Html.EditorFor(x => x.MiddleName)</div>
                        <div class="col-md-4">@Html.EditorFor(x => x.FamilyName)</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4"> @Html.EditorFor(x => x.Uic)</div>
                        <div class="col-md-8">@Html.EditorFor(x => x.CityCode,"Ekatte")</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">@Html.EditorFor(x => x.AddressText)</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">@Html.EditorFor(x => x.Phone, "String")</div>
                        <div class="col-md-8">@Html.EditorFor(x => x.EMail, "String")</div>
                    </div>
                    @if (Model.Id != null)
                    {
                        <div class="row">
                            <div class="col-md-4">@Html.DisplayFor(x => x.RegNumber, "obj")</div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-4">@Html.EditorFor(x => x.DateStart,"DateTime")</div>
                        <div class="col-md-4">@Html.EditorFor(x => x.DateEnd,"DateTime")</div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">@Html.EditorFor(x => x.EducationId,"GenericDropDown")</div>
                        <div class="col-md-6">@Html.EditorFor(x => x.EducationRangId,"GenericDropDown")</div>
                    </div>

                    <fieldset class="fs-group">
                        <legend class="legend_1">Специалности</legend>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.EditorFor(x => x.Specialities)
                            </div>
                        </div>
                    </fieldset>
                </div>

                <input type="submit" value="Запис" class="btn btn-success" id="cdnUploadFile" />
                <a href="@Url.Action("Index","Juror", new { isEdit = true })" class="btn btn-default">Назад</a>
                @if (!string.IsNullOrEmpty(Model.Id))
                {
                    <div class="float-right">
                        @await Html.PartialAsync("_ShowLogOperation", new ERSZ.Core.Models.ShowLogModel() { ObjectId = Model.Id.ToString() })
                    </div>
                }
            </fieldset>
        </form>
        @if (Model.Id != null)
        {
            <div class="cdn-files" data-sourcetype="@NomenclatureConstants.SourceType.Juror" data-sourceid="@Model.Id" data-editmode="all"></div>
        }
    </div>
    @if (Model.Id != null)
    {
        <div class="col-md-6">
            <fieldset class="fs-group">
                <legend class="legend_1">Мандати</legend>
                <partial name="_Mandates" model=@Model.Id />
            </fieldset>
        </div>
    }

</div>
<partial name="_CdnScript" />

<script>
    $(document).ready(function () {
        //debugger;
        $('#EducationId').trigger('change');
        initEkatte();
    });

    $('#EducationId').change(function () {
        requestCombo('@Url.Action("GetDDL_EducationRang", "Juror")', { EducationId: $(this).val() }, '#EducationRangId', @(Model.EducationRangId ?? 0), function () { $('#EducationRangId').trigger('change') });
    });
</script>